body {
	text-align: center;
	background-color: rgba(175,175,175,1);
	margin: 0;
}

.centerOfPage {
	width: 80%;
	margin: 0 10% 0 auto;
	background-color: white;
}

.logoHeader {
	height: 140px;
	background-color: rgba(235,235,235,1);
	margin: 0;
}

.innerLogoBox {
	background-color: rgba(175,175,175,1);
	height: 60%;
	width: 290px;
	position: relative;
	left: 35px;
	top: 25px;
	margin: 0;
	float: left;
}

#logo {
	text-align: left;
	position: relative;
	left: 45px;
	top: 15px;
	font-size: 48px;
	padding: 0;
	margin: 0;
	float: left;
}

.topNav {
	margin: 0;
	height: 48px;
	width: 100%;
	display: inline-block;
	background-color: rgba(160,160,160,1);
}

.topNavList {
	text-align: left;
	padding: 0;
	margin: 0;
}

.topNavList li {
	margin: 0;
	padding: 15px 25px;
	color: white;
	list-style: none;
	display: inline-block;
}

a {
	color: white;
	text-decoration: none;
	margin: 0;
}

a:hover {
	color: white;
	text-decoration: none;
	margin: 0;
}

.centerSection {
	width: 100%;
	height: 465px;
	margin: 0;
	padding: 0;
	float: left;
}

.leftPane {
	margin: 0;
	padding: 0;
	width: 70%;
	background-color: rgba(240,240,240,1);
	position: relative;
	height: 100%;
	float: left;
}

.rightPane {
	margin: 0;
	padding: 0;
	width: 30%;
	background-color: rgba(200,200,200,1);
	position: relative;
	height: 100%;
	float: left;
}

p {
	text-align: left;
	margin: 20px 35px;
	padding-bottom: 6px;
}

h1 {
	text-align: left;
	margin: 20px 35px 25px 35px;
}

#secondHeader {
	text-align: left;
	margin: 20px 20px;
}

.somethingHereList {
	text-align: left;
}

.copyright {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: rgba(80,80,80,1);
	height: 34px;
	float: left;
}

.copyright p {
	margin: 9px 35px 0px 35px;
	padding: 0;
	color: white;
	font-size: 14px;
}
